/*-- scss:defaults --*/

/*-- scss:defaults --*/

// Colors
$navt: #000080;
$light-pink: #f4cfdfE;
$white: #FFFFFF;
$lavender: #dcd0ff;
$purple: #4B006E;
$black: #000D0D;

$primary: #AFD5F6 !default;

/*-- scss:rules --*/

// Base document colors
$navbar-bg: $navy; // navbar
$navbar-fg: $white; // navbar foreground elements
$navbar-hl: $lavender; // highlight color when hovering over navbar links
$body-bg: $white; // page background 
$body-color: $navy; // page text 
$footer-bg: $white // footer 
$link-color: $purple; // hyperlinks 

// Inline code
$code-bg: $cream; // inline code background color
$code-color: $black; // inline code text color

// Code blocks
$code-block-bg: $light pink; // code block background color

.sidebar-title {
  color: #AFD5F6;
}
.book .book-summary {
    position: absolute;
    top: 0;
    left: -300px;
    bottom: 0;
    z-index: 1;
    width: 300px;
    color: #FFFFFF!important;
    background: ##000080!important;
    border-right: 1px solid #000D0D!important;
    -webkit-transition: left 250ms ease;
    -moz-transition: left 250ms ease;
    -o-transition: left 250ms ease;
    transition: left 250ms ease
}
/* this is the sidebar hover
.book .book-summary ul.summary li a:hover {
  background-color: #FFFFFF!important;
  color: #000080!important;
}*/
/* 
.book .book-body .page-wrapper .page-inner section.normal a:active,.book .book-body .page-wrapper .page-inner section.normal a:focus,.book .book-body .page-wrapper .page-inner section.normal a:hover {
    outline: 0;
    text-decoration: underline
}*/
  
#quarto-content .quarto-sidebar-toggle {
    background: #000080 !important;
}

#quarto-content .quarto-sidebar-toggle-title {
    color: #ffffff!important;
}

.sidebar-wrapper {
  background-color: #000080!important;
}
/* Headings ------------------------------------------------------ */

h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
h3 { margin-top: 1.5em; font-size: 1.2rem; }
h4 { margin-top: 1.5em; font-size: 1.1rem; }
h5 { margin-top: 1.5em; font-size: 1rem; }

h1, h2, h3, h4, h5 {
  line-height: 1.3;
}

.quarto-section-identifier {
  color: #000080!important;
  font-weight: normal;
}

/* Code ------------------------------------------------ */

code {
  color: #373a3c;
}
    text-rendering: optimizeLegibility;
    font-size: 14px;
    letter-spacing: .2px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #364149;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: top .5s ease;
code a:any-link {
  text-decoration: underline;
  text-decoration-color: #ccc;
}
.page-columns .content {
    grid-column: body-content-start/body-content-end;
    grid-row: content-top/content-bottom;
    align-content: flex-start
    color: #364149!important;
    
}

pre {
  background-image: linear-gradient(160deg,#f8f8f8 0,#f1f1f1 100%);
}

/* Printing ------------------------------------------------ */

@media print {
  :root {
    font-size: 11pt;
  }
  #quarto-sidebar, #TOC, .nav-page {
    display: none;
  }
  .page-columns .content {
    grid-column-start: page-start;
  }
  .fixed-top {
    position: relative;
  }
  .panel-caption, .figure-caption, figcaption {
    color: #666;
  }
}